/* Estilização */
h1{margin: 15px 0 14px;}
main > figure img{margin-bottom: 97px;}
.artigo > figure{margin-right: 48px;}
.artigo-dois > figure{margin-left: 48px;}
.artigo > article > h2{margin: 32px 0 0;}
.artigo > article > h2, .artigo-dois > article > h2{
    font: 700 48px Arial, Helvetica, Sans-Serif;
    margin-bottom: 16px;
    width: 70%;
}
.artigo > article > p, .artigo-dois > article > p{
    color: #4D4D4D;
    line-height: 24px;
    letter-spacing: 0.04em;
    width: 73%;
}
.artigo-dois{margin: 132px 0 163px;}
.conheca > h3{
    font: 400 40px Arial, Helvetica, Sans-serif;
    margin-bottom: 72px;
}
.conheca{margin-bottom: 96px;}
.conheca-link > a:last-child{color: #FF651A;}
.receitas > article > h2, .loja-artigo > .d-flex h2{
    font: 700 40px Arial, Helvetica, Sans-Serif;
    padding: 0 0 16px;
}
.receitas > article{padding: 32px 0;}
.receitas > article > p{
    color: #4D4D4D;
    font: 400 16px Arial, Helvetica, Sans-serif;
    line-height: 24px;
    letter-spacing: 0.04em;
    width: 85%;
}
.receita-um > section > h3, .receita-dois > section > h3{font: 400 24px Arial, Helvetica, Sans-serif;}
.receita-um{background: #F4DCC3;}
.receita-dois{background: #E8E7C1;}
.receitas{padding: 40px 0 72px;}
.receita-um .d-flex figure{margin-right: 48px;}
.receita-dois .d-flex figure{margin-right: 48px;}
.youtube{padding: 56px 0 80px;}
.youtube p{
    font-size: 16px;
    color: #4D4D4D;
    letter-spacing: 0.04em;
    line-height: 24px;
    margin-top: 32px;
    width: 87%;
}
.loja-artigo{padding: 96px 0;}
.loja-artigo > .d-flex > figure{
    margin-left: 73px;
    padding-top: 24px;
}
.loja-artigo > .d-flex > article{
    align-self:center;
}
.loja-artigo .d-flex article > p{
    color: #4D4D4D;
    font: 400 16px/24px Arial, Helvetica, Sans-serif;
    width: 87%;
}
.col-4 > h2{
    line-height: 29px;
    font: 400 16px/24px Arial, Helvetica, Sans-serif;
}
.col-4 > section > section{
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
}
.col-4 > section > section > h3{color: #662100;}
.col-4 > section > section > p{
    background: #333333;
    border-radius: 2px;
    color: #fff;
    font: 700 12px Arial, Helvetica, Sans-Serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 4px 8px;
}
.loja{margin-bottom: 96px;}
.botao{
    background: #FF651A;
    cursor: pointer;
}
.botao > a{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    color: #291300;
    font: 700 12px Arial, Helvetica, Sans-serif;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: uppercase;
}
.botao > a::after{
    content: url(../imagens/carrinho.png);
    background-repeat: no-repeat;
    justify-content: center;
    padding-left: 8px;
    vertical-align: middle;
}
.loja .row{justify-content: space-around;}
.loja > section > article{max-width: 256px;}